# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    # If the commit message isn't [skip ci]
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-20.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false

      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v1

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        if: runner.os != 'Windows'
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
        shell: Rscript {0}

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "warning", check_dir = "check")
        shell: Rscript {0}

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check

# Build and deploy DOCS -----------------------------------------------------

      # Build documentation with pkgdown
      - name: Build Docs
        if: runner.os == 'macOS'
        run: |
          install.packages("rsconnect")
          install.packages("pkgdown")
          pkgdown::build_site()
        shell: Rscript {0}

      # Test whether navbar entries are real
      - name: Test navbar
        if: runner.os == 'macOS'
        run: |
          install.packages(c("testthat", "dplyr"))
          library(testthat)
          library(dplyr)

          pkgdown_yaml <- yaml::read_yaml("_pkgdown.yaml")
          left <- pkgdown_yaml$navbar$left
          right <- pkgdown_yaml$navbar$right

          navbar <- lapply(seq_len(length(left)), function(x) {
            dropdown <- left[[x]]$menu
            if (is.null(dropdown)) {
            left[[x]]$href
          } else
            lapply(dropdown, function(y) y$href) %>% unlist()
          })

          titles <- lapply(seq_len(length(left)), function(x)
                           left[[x]]$text) %>%
            unlist()
          names(navbar) <- titles

          testthat::context("Testing whether navbar entries are real")

          testthat::test_that("Lectures (slides)", {
            test_nav <- navbar$`Lectures (slides)` %>%
              gsub("^lectures/", "", .)
            test_files <- dir("inst/lectures", ".Rmd$") %>%
              gsub("Rmd$", "html", .)
            testthat::expect_true(all(test_nav %in% test_files))
          })

          testthat::test_that("Lectures (html)", {
            test_nav <- navbar$`Lectures (html)` %>%
              gsub("^lectures_html/", "", .)
            test_files <- dir("inst/lectures", ".Rmd$") %>%
              gsub("Rmd$", "html", .)
          testthat::expect_true(all(test_nav %in% test_files))
          })

          testthat::test_that("Practicals (html)", {
            test_nav <- navbar$`Practicals (html)` %>%
              gsub("^tutorials/", "", .)
            test_files <- dir("inst/tutorials/", ".Rmd$", recursive = TRUE) %>%
              gsub("Rmd$", "html", .)
          testthat::expect_true(all(test_nav %in% test_files))
          })
        shell: Rscript {0}

      # Move ioslide lectures to docs
      - name: Move ioslide lectures to docs
        if: runner.os == 'macOS'
        run: |
          install.packages("rmarkdown")
          devtools::install()
          all_files <- dir(file.path("inst", "lectures"), recursive = TRUE,
                           full.names = TRUE)
          rmd_files <- all_files[grep(".Rmd", all_files)]
          pdf_files <- all_files[grep(".pdf", all_files)]
          if (!file.exists(file.path("docs", "lectures")))
            dir.create(file.path("docs", "lectures"), recursive = TRUE)

          for (file in rmd_files) {
            rmarkdown::render(file, output_dir = file.path("docs", "lectures"),
            # Set the parent environment to be on the top of the search path,
            # so that all attached methods can be found
                              envir = new.env(parent = globalenv()), clean = TRUE)
          }
          for (file in pdf_files) {
            file.copy(file, file.path("docs", "lectures"))
          }
        shell: Rscript {0}

      # Move ioslide html to docs
      - name: Move ioslide lectures to docs
        if: runner.os == 'macOS'
        run: |
          all_files <- dir(file.path("inst", "lectures"), recursive = TRUE, full.names = TRUE)
          rmd_files <- all_files[grep(".Rmd", all_files)]
          if (!file.exists(file.path("docs", "lectures_html")))
          dir.create(file.path("docs", "lectures_html"), recursive = TRUE)

          for (i in seq_len(length(rmd_files))) {
          rmarkdown::render(rmd_files[i],
          output_format = "html_document",
          output_dir = file.path("docs", "lectures_html"), clean = TRUE)
          }
        shell: Rscript {0}

      # Move learnr tutorials to docs
      - name: Move learnr tutorials to docs
        if: runner.os == 'macOS'
        run: |
          if (!file.exists("docs")) dir.create("docs")

          # Copy entire tutorial directory
          file.copy(file.path("inst", "tutorials"),
          file.path("docs"), recursive = TRUE)

          # Find Rmd files
          all_files <- dir(file.path("docs", "tutorials"), recursive = TRUE,
          full.names = TRUE)
          rmd_files <- all_files[grepl(".Rmd", all_files)]

          # Convert files to html
          for (i in seq_len(length(rmd_files)))
          rmarkdown::render(rmd_files[i], "html_document")
        shell: Rscript {0}

      - name: Setup keychain
        if: runner.os == 'macOS'
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        uses: sinoru/actions-setup-keychain@v1.0

      - name: Add credentials in keychain
        if: runner.os == 'macOS'
        env:
          GITHUB_TOKEN: ${{ secrets.RPIR_DOCS }}
        run: |
          echo "\
          protocol=https
          host=github.com
          username=Personal Access Token
          password=$GITHUB_TOKEN" | git credential-osxkeychain store

      # Create a build_docs branch and commit to it
      - name: Commit to build_docs branch
        if: runner.os == 'macOS'
        run: |
          git checkout -b build_docs
          git add .
          git commit -m '[skip ci]'
        shell: bash

      # Deploy the docs using JamesIves/github-pages-deploy-action
      - name: Deploy Docs
        if: runner.os == 'macOS'
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE_BRANCH: build_docs
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs # The folder the action should deploy.
          COMMIT_MESSAGE: 'build docs [skip ci]'
